# dependencies
node_modules
backend/node_modules
frontend/node_modules

# env files
.env
backend/.env
frontend/.env

# firebase key
backend/config/serviceAccountKey.json

# build
dist

# logs and local test files
*.log
*.txt
backend/test_sizes.js
backend/scripts/test_*.js
